.root-pane {
    -fx-background-color: #f7f7fc;
}

.page-title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.page-subtitle {
    -fx-font-size: 14px;
    -fx-text-fill: #777;
}

.card {
    -fx-background-color: #fff;
    -fx-padding: 20;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, #00000020, 8, 0.1, 0, 2);
}

.search-input {
    -fx-pref-height: 38;
    -fx-background-radius: 8;
}

/* Bouton noir : Ajouter Produit */
.btn-primary {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 15;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}

/* Bouton blanc : Exporter */
.btn-secondary {
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
    -fx-border-color: #dddddd;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 8 15;
    -fx-cursor: hand;
}

.btn-primary:hover {
    -fx-background-color: black;
}


.btn-secondary:hover {
    -fx-background-color: #e5e7eb;
}

.modern-table {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: #f9fafb;
    -fx-font-size: 14px;
    -fx-border-color: #e5e7eb;
}

.table-row-cell {
    -fx-cell-size: 40;
}

.table-row-cell:hover {
    -fx-background-color: #f3f4f6;
}